// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


.header {
    background-color: darkgreen;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    pointer-events: none;
}

.btn {
    pointer-events: all;

    &:hover{
        background-color: darkgreen;
    }
}

.text-grey {
    color: #555555;
}

.footer-content {
    margin-top: 50px;
    margin-right: 50px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row-reverse;
  }


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.circle, .circle-small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    right: 20px;
  }
  
.circle-small {
    @extend .circle;
    width: 40px;
    height: 40px;
}

.card-footer {
    border-top: 0;
    display: flex;
    flex-direction: row-reverse;
}
  